
/*=============================
	Start Pricing Table CSS
===============================*/
.pricingTable{
	background:#f9f9f9;
	position:relative;
}
.pricingTable .singleTable {
	background: #fff;
	border:1px solid #ddd;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin: 15px 0;
	padding:45px 35px 30px 35px;
}
/* Table Head */
.pricingTable .singleTable .tableHead {
	text-align:center;
}
.pricingTable .singleTable .icon i{
	font-size:65px;
	color:#1a76d1;
}
.pricingTable .singleTable .title {
	font-size: 21px;
	color: #2C2D3F;
	margin-top: 30px;
	margin-bottom: 15px;
}
.pricingTable .singleTable .amount {
	font-size:36px;
	font-weight:600;
	color:#1a76d1;
}
.pricingTable .singleTable .amount span{
	display:inline-block;
	font-size:14px;
	font-weight:400;
	color:#868686;
	margin-left:8px;
}
/* Table List */
.pricingTable .singleTable .tableList {
	padding: 10px 0;
	text-align: left;
	margin-top: 30px;
}
.pricingTable .tableList li {
	position: relative;
	color: #666;
	text-transform: capitalize;
	margin-bottom: 18px;
	padding-right: 32px;
}
.pricingTable .tableList li:last-child{
	margin-bottom:0px;
}
.pricingTable .tableList li.cross i{
	background:#aaaaaa;
}
.pricingTable .tableList i {
	font-size: 7px;
	text-align: center;
	margin-right: 10px;
	position: absolute;
	right: 0;
	height: 16px;
	width: 16px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	background: #1a76d1;
	border-radius: 100%;
	padding-left: 1px;
}

/* Table Bottom */
.pricingTable .tableBottom {
	margin-top: 25px;
}
.pricingTable .btn {
	padding: 12px 25px;
	width: 100%;
	color:#fff;
}
.pricingTable .btn:before{
	background:#2C2D3F;
}
.pricingTable .btn:hover{
	color:#fff;
}
.pricingTable .btn i {
	font-size: 16px;
	margin-right: 10px;
}
/*=============================
	End Pricing Table CSS
=======*/