/*=======================
	Start Blog CSS
=========================*/
.blog{
	background:#fff;
}
.blog .blog-title{
	text-align:center;
}
.blog .singleNews {
	background: #fff;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: 0px 0px 10px #00000014;
}
.blog .singleNews img{
	width:100%;
	margin:0;
	padding:0;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.blog .singleNews .newsHead{
	position:relative;
	overflow:hidden;
}
.blog .singleNews .newsContent {
	text-align: left;
	background: #fff;
	z-index: 99;
	position: relative;
	padding: 30px;
	left: 0;
	z-index: 0;
}
.blog .singleNews .newsContent:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:0%;
	background:#1A76D1;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.blog .singleNews:hover .newsContent:before{
	opacity:1;
	visibility:visible;
	width:100%;
}
.blog .singleNews .newsBody h2 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 24px;
}
.blog .singleNews .newsBody h2 a{
	color:#2C2D3F;
	font-weight: 500;
}
.blog .singleNews .newsBody h2 a:hover{
	color:#1A76D1;
}
.blog .singleNews .newsContent p {
	font-weight: 400;
	text-transform: capitalize;
	font-size: 13px;
	letter-spacing: 0px;
	line-height: 23px;
}
.blog .singleNews .newsBody .date {
	display: inline-block;
	font-size: 14px;
	margin-bottom: 5px;
	background: #1A76D1;
	color: #fff;
	padding: 4px 15px;
	border-radius: 3px;
	font-size: 14px;
	margin-bottom: 10px;
}
.blog.grid .singleNews{
	margin-top:30px;
}
@media screen and (max-width: 768px) {
	.blog .singleNews{
		margin-bottom: 30px;
		box-shadow: 0px 0px 20px rgba(0,0,0,.1);
	}
}