.singleWidget {
	margin-bottom: 30px;
	padding: 40px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	border-radius: 8px;
}
.singleWidget .title {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 30px;
	display: block;
	background: #fff;
	padding-left: 12px;
}
.singleWidget .title::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -1px;
	height: 100%;
	width: 3px;
	background: #1A76D1;
}

/* Category List */
 .categorList {
	margin-top: 15px;
}
 .categorList li {
	margin-bottom: 10px;
}
 .categorList li:last-child{
	margin-bottom:0px;
}
 .categorList li a {
	display: inline-block;
	color: #333;
	font-size:14px;
    transition: .3s;
    -webkkit-transition: .3s;
}
 .categorList li a:hover{
	color:#1A76D1;
	padding-left:7px;
}
 .categorList li a i {
	display: inline-block;
	margin-right:0px;
	font-size: 9px;
	transform: translateY(-1px);
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
 .categorList li a:hover i{
	margin-right: 6px;
	opacity:1;
	visibility:visible;
}
@media screen and (max-width: 768px) {
	.singleWidget {padding: 20px;}
}
