.singleWidget {
	margin-bottom: 30px;
	padding: 40px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	border-radius: 8px;
}
.singleWidget .title {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 30px;
	display: block;
	background: #fff;
	padding-left: 12px;
}
.singleWidget .title::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -1px;
	height: 100%;
	width: 3px;
	background: #1A76D1;
}
/* Blog Tags */
 .sideTags .tag{
	margin-top:40px;
}
 .sideTags .tag li {
	display: inline-block;
	margin-right: 7px;
	margin-bottom: 20px;
}
 .sideTags .tag li a {
	background: #fff;
	color: #333;
	padding: 8px 14px;
	text-transform: capitalize;
	border-radius: 0;
	font-size: 13px;
	background: #F6F7FB;
	border-radius: 4px;
}
 .sideTags .tag a:hover{
	color:#fff;
	background:#1A76D1;
	border-color:transparent;
}
@media screen and (max-width: 768px) {
	.singleWidget {padding: 20px;}
}
