/* Topbar */
 .topbar{
	background-color:#fff;
	border-bottom:1px solid #eee;
}
 .topbar{
	padding:15px 0;
}
 .topLink{
	padding: 0;
}
 .topLink li{
	display:inline-block;
	margin-right:15px;
}
 .topLink li:last-child{
	margin-right:0px;
}
 .topLink li a{
	color:#2C2D3F;
	font-size:14px;
	font-weight:400;
}
 .topLink li:hover a{
	color:#1A76D1;
}
 .topContact{
	text-align: right;
}
 .topContact li{
	display:inline-block;
	margin-right:25px;
	color:#2C2D3F;
}
 .topContact li:last-child{
	margin-right:0;
}
 .topContact li a{
	font-size:14px;
}
 .topContact li a:hover{
	color:#1A76D1;
}
 .topContact li i{
	color:#1A76D1;
	margin-right:8px;
}
@media screen and (max-width: 768px) {
	.topbar *{
		text-align: center;
		
	}
	.topbar .topLink{
	    margin-bottom: 10px;
	}
	
}